.about-wrapper{
    background-color:	#abab9a;
    height: 100vh;
}

p{
    color: white;
    font-size: large;
}

#about{
    display: flex;
    justify-content: center;

}
.valami{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    
}
.icon{
    font-size:xx-large
}

  