.about-wrapper{
    position: relative;
    background-color:	#abab9a;
    background-size: cover;
    background-position: center;
    height: 100vh;
 

}
h2{
    color: #DEB992;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 2rem;

}
p{
    color: white;
    font-size: large;
}


#about{
    display: flex;
    justify-content: center;

}
.valami{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    
}
.icon{
    font-size:xx-large
}

  