@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ysabeau+Infant:wght@1;100;300&display=swap');

:root{
    --primary-white: rgb(245, 245, 245);
    --primary-orange:linear-gradient(to right, #e99311, #e3a900, #d6bf00, #c3d500, #a8eb12);
}

body{
    font-family: 'Belanosima', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
    letter-spacing: 0.6px;
}
img{
    border-radius: 1.3rem;
    height: 4rem;
    width: 4rem;
}

.nav a.nav-link{
    cursor: pointer;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;

}

.navbar-nav >li>a{
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white);

}

.container-fluid{
    margin-left: 10rem;
    margin-right: 10rem;
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus{
    border-top: #a8eb12;
}

