@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ysabeau+Infant:wght@1;100;300&display=swap');

:root{
    --primary-white: rgb(245, 245, 245);
    --primary-lightBlack:#1F2833;
}

body{
    font-family: 'Belanosima', sans-serif;
        font-family: 'Ysabeau Infant', sans-serif;
        letter-spacing: 0.6px;
}

img{
    border-radius: 1.3rem;
    height: 4rem;
    width: 4rem;
}

.navbar-nav >li>a{
    color: var(--primary-white);
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus{
    border-top: #a8eb12;
}
