.skills-wrapper{
    position: relative;
        background-color: #C5C6C7;
        background-size: cover;
        background-position: center;
        height: 90vh;
}
.container{
    padding-top: 3rem;
}
