.skills-wrapper{
    position: relative;
        background-color: #0C1A1A;
        background-size: cover;
        background-position: center;
        height: 90vh;
}
.container{
    padding-top: 3rem;
}
img{
    width: 300px;
}
.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    float: right;

}
