@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ysabeau+Infant:wght@1;100;300&display=swap');

:root{
    --primary-white: rgb(245, 245, 245);
    --primary-lightGold:#DEB992;
    --primary-yellowGreen:#BAFF39;
    --primary-darkGrey:#323232;
    --primary-darkGreen:#0C1A1A;
    
}
.header-wrapper{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color:#FFFAF0;
}
*{
    max-width: 100%;
}